header {
  height: 90px;
  width: 410px;
  background-color: gray;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
}
.left-side-of-header {
  height: 90px;
  width: 60vw;
  color: white;
  padding:20px 0px 10px 20px;
  font-size: 30px;
  /*border: red solid;*/
}
.right-side-of-header {
  height: 90px;
  width: 25vw;
  /*border: blue solid;*/
}
.menu-items-in-header {
  padding:50px 0px 0px 0px;
  font-size: 30px;
  color: white;
  margin-left: 110px;
  /*border: green solid;*/
}
.very-right-side-of-header {
  height: 90px;
  width: 5vw;
  /*border: silver solid;*/
}
main {
  /*border: black solid;*/
}
.left-side-of-main {
  width: 40vw;
  height: 44vh;
  background-color: lightgray;
  /*border: gold solid;*/
}
.right-side-of-main {
  width: 60vw;
  height: 44vh;
  background-color: lightgray;
  margin-left: 166px;
  /*border: solid blue;*/
}
.bottom-of-main {
  width: 413px;
  height: 100vh;
  border: purple solid;
}
